[submodule "R3D/vendor/spdlog"]
	path = R3D/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "R3D/vendor/GLFW"]
	path = R3D/vendor/GLFW
	url = git@github.com:physteo/glfw.git
[submodule "R3D/vendor/imgui"]
	path = R3D/vendor/imgui
	url = https://github.com/physteo/imgui.git
[submodule "R3D/vendor/glm"]
	path = R3D/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "R3D/vendor/stb"]
	path = R3D/vendor/stb
	url = https://github.com/physteo/stb.git
